<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0)), url(https://res.cloudinary.com/cvillen/image/upload/v1623600454/banner_ygjon1.jpg);">
  <div class="container">
    <h1>Movie lists</h1>
  </div>
</div>


<div class="cards-category">
  <% @lists.each do |list| %>
    <div class="card-white">
      <h5><%= link_to list.name, list_path(list) %></h5>

    </div>
  <%end -%>
</div>

<div class="btn btn-success">
  <%= link_to 'Add new list', new_list_path %>
</div>

