<div class="navbar navbar-expand-sm navbar-light navbar-popcorn">
  <a class="navbar-brand">
    <img src="https://res.cloudinary.com/cvillen/image/upload/v1623599961/popcorn_yfrvmw.jpg">
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/lists">My lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/lists/new">New list</a>
      </li>
      </li>
    </ul>
  </div>
</div>
